.button {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #FFF;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}
