.sign__input {
  margin-top: 30px;
  padding: 0 0 13px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #CCC;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  background-color: transparent;
}

.sign__input:first-child {
  margin-top: 0;
}