.header {
  padding-bottom: 41px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 768px) {

  .header {
    padding-bottom: 31.6px;
  }
  
}
